<ul class="nav navbar-nav">
    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Store", "Index", "Store")</li>
        if (User.IsInRole("admin"))
        {
            <li>@Html.ActionLink("Users", "Users", "Home")</li>
        }
    }
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>

